# Byte-compiled files
__pycache__/


# Virtual environments
CNenv/
.env
*.env

# Django stuff
*.log
db.sqlite3


# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# IDE/editor
.vscode/

